name: build JAVA application

on:
  workflow_dispatch:
    inputs:
      job_name:
        description: "Select the Job to run"
        required: true
        type: choice
        options:
          - job1_build
          - job2_codeCoverage

jobs:

  job1_build:
    if: ${{ github.event.inputs.job_name == 'job1_build' }}
    runs-on: ubuntu-latest
    steps:

    - name: Clone Repo
      uses: actions/checkout@v4

    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build Java App
      run: mvn -B clean package

  job2_codeCoverage:
    if: ${{ github.event.inputs.job_name == 'job2_codeCoverage' }}
    runs-on: ubuntu-latest
    steps:

    - name: Clone Repo
      uses: actions/checkout@v4

    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Build Java App
      run: mvn -B clean verify

    - name: SonarCloud Code Coverage + Analysis
      run: |
        mvn -B verify sonar:sonar \
          -Dsonar.projectKey=SonarQubeOrganization \
          -Dsonar.organization=sonarqubeorganization-1 \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.token=${{ secrets.SONAR_TOKEN }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
